.card{
    width:80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    min-height: 400px;

}
.card_info, .card_img{
    width:400px;
    flex-grow: 1;


}
.card_info{
    padding: 2%;
	color:#424242;
}
.card_info .name{
    font-size: 40px;

}
.btn_camp{
    width:170px;
    height:40px;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(40, 160, 228);
    cursor: pointer;
	border:1px solid  rgb(40, 160, 228);
	transition: all 1s ease;
	background-color: white;
}
.btn_camp:hover{
	background-color: rgb(40, 160, 228);
	color:white;
}

.card_img{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;

}
.etiqueta{
    width:100%;
    background-color: rgba(0,0,0,.3);
    height:120px;
    display: flex;
    flex-wrap: wrap;
}
.etq{
    width:150px;
    flex-grow: 1;
    color:white;
    text-align: center;
    padding-top: 5px;
	height: 100%;
}
.etq h3{
    line-height: .7rem;
    font-size: 17px;
	margin-bottom: 7%;
}
.etq p{
    font-size: 12px;
    margin: 0;
}

.course-large{
	display: flex;
	align-items: center;
}

@media(max-width: 440px){
    .card_info{
        padding: 3% 5%;
    }
    .card_info .name{
        font-size: 35px;
    }
    .btn_camp{
        width:120px;
    }
    .etq{
        width:50px;
    }
    .etq h3{
        font-size: 14px;
    }
    .etq p{
        font-size: 10px;
    }
    .box_btn{
        text-align: center;
    }

}
@media(max-width: 325px){
    .btn_camp{
        width:100px;

    }
    .box_btn{
        text-align: inherit;
    }

    .etq h3{
        font-size: 12px;
    }
}
